.card{
    background-color: white;
    border: solid black;
    width:600px;
    height: 400px;
    padding:10px;
    text-align: center;
    margin-left: 100px;
    margin-top:100px;
    transition : all 0.8s ease; 
}
.card:hover{
    background-color: blueviolet;
    box-shadow: 0 0 8px rgba(255,0,0,0.9);
    transform: translate(-5px);
    transform: scale(1.1);
}
.profile-img{
    height: 100px;
    width:100px;
    object-fit: cover; /*photo pichke na */
    border-radius: 50%;
    border: 3px solid transparent;
    transition: transform 0.5s ease;
}

.profile-img:hover{
    transform : scale(1.1);
    border-color: rgb(255, 246, 246);
    cursor:pointer;
     box-shadow: 0 0 15px rgba(255,0,0,0.5);
}
.button {
    margin:5px;
    padding: 8px 15px;
    cursor: pointer;
    transition : all 0.3s ease;
}
.btn-primary:hover { 
    background-color: rgb(10, 10, 35);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: lightgray;
    transform: translateY(-3px);
    cursor: pointer;
}
.login-card{
    background-color: white;
    padding: 20px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.3);
    text-align: center;
}
.login-card h2{
    margin-bottom: 10px;
    color: #333;
}
.login-card p{
    color: #666;
    margin-bottom: 30px;
}
.input-grp{
    text-align: left;
    margin-bottom: 15px;
}
.input-grp label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}
input{
    width: 100%;
    padding: 10px;
    padding-right: 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 14px;
}
input:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 20px rgba(0,123,255,0.2);
}
.btn-grp{
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-grp:hover{
    background-color:#0056b3;
}
.anc{
    color: #007bff; 
    background-color: #333;
    text-decoration: none;
}
.link{
    margin-top: 15px;
}